#top {color:darkgreen;  }

.header {font-family: Georgia, 'Times New Roman', Times, serif; text-align: center; }

.paragraph {line-height: 25px;}

img {float: left;}
img {padding-right: 25px; padding-bottom: 25px;}

a:link {text-decoration: none;}
a:hover {text-decoration: underline;}

.like {text-transform: uppercase ;}